[Unit]
Description=Factorio isolation firewall (own nftables table: factorio_guard)
Documentation=https://github.com/johnnyowens22-dotcom/factorio-server
DefaultDependencies=no
Wants=network-pre.target
Before=network-pre.target shutdown.target
After=local-fs.target
Conflicts=shutdown.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/nft -f /etc/factorio/firewall.nft
ExecReload=/usr/sbin/nft -f /etc/factorio/firewall.nft
ExecStop=/usr/sbin/nft delete table inet factorio_guard

[Install]
WantedBy=multi-user.target
